{% extends 'llistat/base.html' %}
{% load custom_filters %}
{% block title %}Report especiales{% endblock %}

{% block content %}
    <div class="container mx-auto py-8">
        <table class="hover:table-auto border-separate border-spacing-2 border border-gray-300 w-full text-sm text-left">
            <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2 text-gray-600 font-semibold">#</th>
                <th class="px-4 py-2 text-gray-600 font-semibold">Fecha fin prevista</th>
                <th class="px-4 py-2 text-gray-600 font-semibold">OM</th>
                <th class="px-4 py-2 text-gray-600 font-semibold">Peticionario</th>
                <th class="px-4 py-2 text-gray-600 font-semibold">Fecha entrega</th>
                <th class="px-4 py-2 text-gray-600 font-semibold">Fecha prevista MRP</th>
                <th class="px-4 py-2 text-gray-600 font-semibold">Sección</th>
            </tr>
            </thead>
            {% with items=report %}
                {% for item in items %}
                    <tbody>
                    <tr class="border-b
  {% if item.FECHA_ENTREGA|is_delay %}bg-yellow-400 text-red-900{% endif %}
  {% if item.Fecha_Fin_Prevista|is_past_date %}bg-yellow-400 text-black {% endif %}
  hover:bg-gray-100">
                        <th class="px-4 py-2">{{ forloop.counter }}</th>
                        <td class="px-4 py-2">{{ item.Fecha_Fin_Prevista|date:"d/m/Y" }}</td>
                        <td class="px-4 py-2">{{ item.OM }}</td>
                        <td class="px-4 py-2">{{ item.Peticionario }}</td>
                        <td class="px-4 py-2">{{ item.FECHA_ENTREGA|date:"d/m/Y" }}</td>
                        <td class="px-4 py-2">{{ item.FECHA_PREVISTA_MRP|date:"d/m/Y" }}</td>
                        <td class="px-4 py-2">{{ item.Seccion }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% endwith %}
        </table>
    </div>
{% endblock %}
