option_settings:
     aws:elasticbeanstalk:container:python:
       WSGIPath: especials.wsgi:application
     aws:autoscaling:launchconfiguration:
      DisableIMDSv1: true
      MonitoringInterval: "1 minute"
      IamInstanceProfile: "EC2_easy"
     aws:elasticbeanstalk:application:environment:
       SECRET_KEY: "django-insecure-zkdpxybr8xx^h=u3-9qno&utmi3#@7*qpdi_6iy9!ai_%w@o34"
       DEBUG: "False"
       ALLOWED_HOSTS: "especialestc.eu-west-3.elasticbeanstalk.com"

commands:
  01_pip_install_requirements:
    command: "pip install -r requirements.txt"
