option_settings:
    aws:elasticbeanstalk:container:python:
      WSGIPath: especials.wsgi:application
    aws:autoscaling:launchconfiguration:
      DisableIMDSv1: true
      MonitoringInterval: "1 minute"
      IamInstanceProfile: "EC2_easy"
    aws:elasticbeanstalk:environment:proxy:staticfiles:
      /static: static
      /media: media
